.catalog {
  display: block;
  position: relative;
  width: 690px;
  padding: 25px;
}

.catalog__list {
  width: 640px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  margin-bottom: 28px;
}

.catalog__item:last-of-type {
  margin-bottom: 15px;
}

.catalog__button {
  width: fit-content;
  min-height: 30px;
  margin: 0 auto;
  padding: 0 60px;
  color: var(--black-natural);
  font-size: 20px;
  line-height: 30px;
  background-color: var(--light-grany);
  border: 1px solid var(--dark-gray);
  transform: translateX(10px);
}

